html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body * {
    display: inline-block;
}

script {
    display: none;
}
.main {
    width: 100%;
    height: 100vh;
}
.container {
    width: 800px;
    height: 500px;
    background-color: #1C1C1C;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #FF8635;
    border-top: none;
}
.files-container {
    height: 450px;
}
.head {
    width: 100%;
    height: 18px;
    background-image: url(../img/head.jpg);
    background-size: cover;
    margin-bottom: 10px;
}
.filesAndFolders {
    width: 50%;
    padding-bottom: 0.5%;
    z-index: 1;
}
.delete {
    width: 20%;
    float: right;
    padding-bottom: 0.5%;
    z-index: 1;
}
.dlt-btn {
    border: 1px solid #CCC3C4;
    border-radius: 10px;
    background: none;
    color: #CCC3C4;
    font-size: default;
    cursor: pointer;
    width: 100%;
    padding: 0 8px;
}
.dlt-btn:hover {
    transition: 0.5s;
    background-color: #CCC3C4;
    color: black;
}
.dlt-btn:focus {
    outline: none;
}
.downloads {
    width: 20%;
    float: right;
    padding-bottom: 0.5%;
    z-index: 1;
}
.download {
    border: 1px solid #D1E1FF;
    border-radius: 10px;
    background: none;
    color: #D1E1FF;
    font-size: default;
    cursor: pointer;
    width: 100%;
}
.download:hover {
    transition: 0.5s;
    background-color: #FF8635;
}
.download:focus {
    outline: none;
}
.folders {
    border: none;
    background: none;
    color: #FFB95E;
    font-size: medium;
    padding-right: 40px;
    margin-left: 20px;
}
    .folders:hover {
        transition: 0.5s;
        text-decoration: underline;
    }
    .folders:focus {
        outline: none;
    }
.files {
    border: none;
    background: none;
    color: #FFF5D8;
    font-size: medium;
    padding-right: 30px;
    margin-left: 20px;

}
    .files:hover {
        transition: 0.5s;
        text-decoration: underline;
    }
    .files:focus {
        outline: none;
    }
.renderFile {
    width: 90%;
    height: auto;
    /* overflow-y: scroll; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FFF5D8;
}
.renderFile > .renderText {
    min-height: 460px;
    width: 100%;
}
.exit {
    position: absolute;
    top: 5%;
    right: 8%;
    z-index: 2;
}
.exit > .exit-btn {
    background: none;
    color: #FF4921;
    cursor: pointer;
    border-color: #FFB95E;
    padding: 0 4px;
    border-radius: 10px;
    font-weight: bold;
    font-size: medium;
}
.exit-btn:hover {
    transition: 0.5s;
    background-color: white;
    color: black;
}
.back-to-start {
    position: absolute;
    top: 0.5%;
    left: 0.2%;
    text-align: center;
}
.back-to-start > .bst-btn {
    background-image: url(../img/back.png);
    background-size: cover;
    border-radius: 50%;
    color: #9FF4BA;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    padding: 0 8px 4px;
}
.bst-btn:focus {
    outline: none;
}
.back {
    position: absolute;
    top: 0.5%;
    left: 4%;
    text-align: center;
}
.back:focus {
    outline: none;
}
.back > .back-btn {
    background-image: url(../img/back.png);
    background-size: cover;
    border-radius: 50%;
    color: #9FF4BA;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    padding: 0 10px 4px;
}
.back-btn:focus {
    outline: none;
}
.createDir {
    width: 130px;
    display: inline;
    position: absolute;
    bottom: 0;
    right: 1%;
}
.create-folder {
    float: right;
}
.input-text {
    width: 40px;
    height: 25px;
    border-radius: 10px;
}
    .input-text:focus {
        width: 100px;
        outline: none;
        border-radius: 10px;
    }
.input-btn {
    width: 25px;
    height: 25px;
    color: #3ACE00;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    cursor: pointer;
}
.uploads {
    width: 140px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.upload-error {
    /* color: #fff; */
    color: red;
    position: absolute;
    bottom: 26%;
    left: 36%;
    transform: translate(-36%);
    z-index: 2;
}
.ch-btn {
    border-color: #FFB95E;
    border-radius: 10px;
    background: none;
    color: #D1E1FF;
    cursor: pointer;

}
.ch-btn:focus {
    outline: none;
}
.up-btn {
    border-color: #D1E1FF;
    border-radius: 10px;
    background: none;
    color: #FFB95E;
    cursor: pointer;
}
.up-btn:focus {
    outline: none;
}
.btn-label {
    cursor: pointer;
}
.scrollbar
{
	float: left;
	height: 450px;
	width: 100%;
	/* background: #F5F5F5; */
	overflow-y: scroll;
}
#style-13::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border-radius: 10px;
	background-color: #CCCCCC;
}

#style-13::-webkit-scrollbar
{
	width: 5px;
	background-color: #D62929;
}
#style-13::-webkit-scrollbar:horizontal
{
    height: 5px;
	background-color: #D62929;
}

#style-13::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D62929;
	background-image: -webkit-linear-gradient(
        90deg,
		transparent,
        rgba(0, 0, 0, 0.4) 50%,
        transparent,
        transparent)
}
.logout {
    position: absolute;
    left: 50%;
    bottom:0%;
    transform: translate(-50% ,0%);
}
.logout-btn {
    padding: 5px 10px;
    background-color: none;
    border: 1px solid royalblue;
    color: royalblue;
    border-radius: 5px;
}
.jpg {
    width: 50%;
    height: 500px;
}
